export default {
  apiKey: 'AIzaSyC_iqe3dxnC29ccwUiexazBqBXQ3VJUGmI',
  authDomain: 'hz-healing-music.firebaseapp.com',
  databaseURL: 'https://hz-healing-music.firebaseio.com',
  projectId: 'hz-healing-music',
  storageBucket: 'hz-healing-music.appspot.com',
  messagingSenderId: '1060518047944',
  appId: '1:1060518047944:web:eb358cf9cd184d1c79f5fd',
  measurementId: 'G-WPGLH004RN'
}
